@model BuchShop.Geschaeftslogik.Domaenenobjekte.Warenkorb;

@{
    ViewData["Title"] = "Warenkorbansicht";
} 

<h2>@ViewData["Title"]</h2>
@{
    var warenkorb = (Warenkorb)ViewData["Warenkorb"];
    var nutzer = (Nutzer)ViewData["Nutzer"];
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h4>
            @nutzer.Name hat folgende Artikel in seinem Warenkorb:
        </h4>
    </div>
    @if (((ICollection<Artikel>)warenkorb.Artikel).Count != 0)
    {
        <div class="panel-body divLine">
            <table id="assets-data-table"
                   class="table table-striped table-bordered"
                   style="width:100%">
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Typ</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var artikel in warenkorb.Artikel)
                    {
                        <tr style="cursor: pointer" onclick="location.href = '@(Url.Action("Artikeldetails", "Kunden", new { artikelnummer = artikel.Artikelnummer }))'">
                            <td>@artikel.Titel</td>
                            <td>@artikel.Typ</td>
                            <td>@artikel.Preis €</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            @{if ((bool)ViewData["Rabattcode"])
              {
                  <label style="color:green">Rabattcode Eingabe erfolgreich</label>
              }
              else
              {
              <form asp-action="RabattcodeSpeichern" method="get">
                  <div class="form-group">
                      <label asp-for="Rabattcode" class="control-label">Rabattcode: </label>
                      <input asp-for="Rabattcode" class="form-control" id="RabCode" />
                  </div>
                  <div class="form-group">
                      <input type="submit" value="Rabattcode Speichern" class="btn btn-default" />
                  </div>
              </form>
                  }
              }
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:200px">Rabatt: </label>
                <label style="color:greenyellow;" id="RabWert">@ViewData["Rabatwert"] €</label>
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:200px">Versandkosten: </label>
                <label style="color:greenyellow;" id="RabWert">@ViewData["Versandkosten"] €</label>
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:200px">Gesamtpreis: </label>
                <label style="color:greenyellow;" id="RabWert">@ViewData["Preiswert"] €</label>
            </h4>
        </div>
        <form asp-action="Warenkorbansicht" method="post">
            <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
                <div class="form-group">
                    <label class="control-label">Treuepunkte einlösen: </label>
                    <input class="form-control" name="treuepunkte"/>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Weitersuchen" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Artikelsuche", "Kunden") + "'");" />
                <input type="submit" value="Bestellen" class="btn btn-default" />
                @if (!ViewData.ModelState.IsValid)
                {
                    <br />
                    <span style="color: red">@ViewData.ModelState["Gesperrt"].Errors[0].ErrorMessage</span>
                }
            </div>
        </form>
    } else {
        <div>
            <label style="width:200px">Leerer Warenkorb </label>
        </div>

    }

</body>
</html>
