@model BuchShop.Geschaeftslogik.Domaenenobjekte.Artikel
@{
    ViewData["Title"] = "Artikeldetails";
}

<h2>@ViewData["Title"]</h2>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h4>
            Informationen zum ausgewählten Artikel:
        </h4>
    </div>
    <form asp-action="ArtikelInWarenkorb" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:300px">Artikelnummer: </label>
                <label style="color:blue;">@Model.Artikelnummer</label>
                <input asp-for="Artikelnummer" type="hidden" value="@Model.Artikelnummer" />
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:300px">Titel: </label>
                <label style="color:blue;">@Model.Titel</label>
                <input asp-for="Titel" type="hidden" value="@Model.Titel" />
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:300px">Typ: </label>
                <label style="color:blue;">@Model.Typ</label>
                <input asp-for="Typ" type="hidden" value="@Model.Typ" />
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:300px">Preis: </label>
                <label style="color:blue;">@Model.Preis</label>
                <input asp-for="Preis" type="hidden" value="@Model.Preis" />
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:300px">Anzahl: </label>
                <label style="color:blue;">@Model.Anzahl</label>
                <input asp-for="Anzahl" type="hidden" value="@Model.Anzahl" />
            </h4>
        </div>
        @if (Model is BluRay)
        {
            <div class="form-group">
                <h4>
                    <a href="@((Model as BluRay).TrailerLink)">Zum Trailer von @Model.Titel</a>
                </h4>
            </div>
        }
        else if (Model is Buch)
        {
            <div class="form-group">
                <h4>
                    <label style="width:200px">Autor: </label>
                    <label style="color:blue;">@((Model as Buch).Autor)</label>
                </h4>
                <h4>
                    <label style="width:200px">Zusammenfassung: </label>
                    <label style="color:blue;">@((Model as Buch).Zusammenfassung)</label>
                </h4>
            </div>
        }
        <br />
        <div class="form-group">
            <input type="button" value="Zurück zur Suche" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Artikelsuche", "BuchShop") + "'");" />
            <input type="submit" value="In den Warenkorb" class="btn btn-default"/>
        </div>
    </form>

</body>
</html>