@{
    ViewData["Title"] = "Artikeldetails";
}

<h2>@ViewData["Title"]</h2>
<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:500px">
        <h4>
            <label style="width:400px">Anzahl der Artikel im Logistiksystem: </label>
            <label style="color:blue;">@ViewData["Artikelanzahl"]</label>
        </h4>
    </div>
    <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:500px">
        <h4>
            <label style="width:400px">Anzahl der Artikel im Logistiksystem: </label>
            <label style="color:blue;">@ViewData["Bestellungsanzahl"]</label>
        </h4>
    </div>
    <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:500px">
        <h4>
            <label style="width:400px">Durchschnittliche Anzahl Artikel pro Bestellung: </label>
            <label style="color:blue;">@ViewData["ArtikelanzahlProBestellung"]</label>
        </h4>
    </div>
    <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:500px">
        <h4>
            <label style="width:400px">Summe aller Mahnbeträge und Mahngebühren: </label>
            <label style="color:blue;">@ViewData["GesamteMahngebuehren"] €</label>
        </h4>
    </div>
</body>
</html>
