@model BuchShop.Geschaeftslogik.Domaenenobjekte.Kunde
    @{
        ViewData["Title"] = "Kundendetails";
    }

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        $("#btnMahnen").click(function () {

            $.ajax(
                {
                    type: "GET", //HTTP POST Method
                    url: "/BuchShop/Mahnen", // Controller/View
                    contentType: 'application/json; charset=utf-8',
                    data: { //Reading text box values using Jquery
                        id: @Model.Identifikationsnummer,
                    mahnbetrag: $("#idMahnbetrag").val()
                },
                dataType: "json",
                success: function (data) {
                    alert("Erfolgreich ermahnt");
                },
                error: function () {
                    alert("Ein Fehler ist aufgetreten")
                }
            });
        });
        $("#btnEntsperren").click(function () {

            $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/BuchShop/Entsperren", // Controller/View
                contentType: 'application/json; charset=utf-8',
                data: { //Reading text box values using Jquery
                    id: @Model.Identifikationsnummer
                },
                dataType: "json",
                success: function (data) {
                    alert("Erfolgreich Entsperrt");
                },
                error: function () {
                    alert("Ein Fehler ist aufgetreten")
                }
            });
        });
        $("#btnVipUpgrade").click(function () {

            $.ajax(
            {
                type: "GET", //HTTP POST Method
                url: "/BuchShop/VipUgrade", // Controller/View
                contentType: 'application/json; charset=utf-8',
                data: { //Reading text box values using Jquery
                    id: @Model.Identifikationsnummer
                },
                dataType: "json",
                success: function (data) {
                    alert("Erfolgreich befördert");
                },
                error: function () {
                    alert("Ein Fehler ist aufgetreten")
                }
            });
        });
    });
</script> 

    <h2>@ViewData["Title"]</h2>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h4>
                Informationen zum ausgewählten Kunden @Model.Name:
            </h4>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:200px">Mahnbetrag in Euro: </label>
                <input class="form-control" id="idMahnbetrag" name="mahnbetrag" />
            </h4>
        </div>
        <div class="form-group">
            <input type="button" id="btnMahnen" value="Mahnen" class="btn btn-default"/>
            <input type="button" id="btnEntsperren" value="Entsperren" class="btn btn-default"/>
            <input type="button" id="btnVipUpgrade" value="Vip Upgrade" class="btn btn-default"/>
        </div>
    </body>
    </html>