@model BuchShop.Geschaeftslogik.Domaenenobjekte.Nutzer;
    
@{ 
    ViewData["Title"] = "Startseite";
}

<h2>@ViewData["Title"]</h2>
<html>
<head>
    <title></title>
</head>
<body>
    <div><h4> Herzlich Willkommen @Model.Name <br />
        Sie haben sich erfolgreich mit der E-Mail Adresse: @Model.Email eingeloggt.</h4>
    </div>
    <br />
    @if (Model is Kunde)
    {
        <div class="form-group lowerdivLine">
            <h4><label>Treuepunkte: </label> <br />
            <label class="labelColor">@((Model as Kunde).Treuepunkte)</label></h4>
       </div>
        <div class="form-group lowerdivLine">
            <h4>
                <label>Kundenstatus: </label><br />
                @if (((Model as Kunde).Status.ToString()) == "Gesperrt")
                {
                    <label class="labelStateBlocked">@((Model as Kunde).Status)</label>
                }
                else
                {
                    <label class="labelstateNormal">@((Model as Kunde).Status)</label>
                }
            </h4>
        </div>
        <div class="form-group">
            <h4>
                <label>Artikel im Warenkorb: </label><br/>
                <label class="labelColor">@ViewData["artikel"]</label>
            </h4>
        </div>
        <br />
        <div class="form-group">
            <input type="button" value="Artikel Suchen" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Artikelsuche", "Kunden") + "'");" />
            <input type="button" value="Warenkorb bearbeiten" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Warenkorbansicht", "Kunden") + "'");" />
        </div>
    }
    @if (Model is Mitarbeiter)
    {
        <div class="form-group">
            <h4>
                <label>Telefonnummer: </label><br />
                <label class="labelColor">@((Model as Mitarbeiter).Telefonnummer)</label>
            </h4>
        </div>
        <br />
        <div class="form-group">
            <input type="button" value="Kunde suchen" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Kundensuche", "Mitarbeiter") + "'");" />
            <input type="button" value="Bestellstatistiken" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Bestellstatistik", "Mitarbeiter") + "'");" />
        </div>
    }
    <div class="form-group">
        <input type="button" value="Logout" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Logout", "Benutzer") + "'");" />
    </div>
</body>
</html>

