@model BuchShop.Geschaeftslogik.Domaenenobjekte.Nutzer;
    
@{ 
    ViewData["Title"] = "Startseite";
}

<h2>@ViewData["Title"]</h2>
<html>
<head>
    <title></title>
</head>
<body>
    <div><h4> Herzlich Willkommen @Model.Name <br />
        Sie haben sich erfolgreich mit der E-Mail Adresse: @Model.Email eingeloggt.</h4>
    </div>
    <br />
    @if (Model is Kunde)
    {
        <div class="form-group" style="border-bottom:solid; border-width: 1px; width:280px">
            <h4><label style="width:200px">Treuepunkte: </label> 
            <label style="color:greenyellow;">@((Model as Kunde).Treuepunkte)</label></h4>
       </div>
        <div class="form-group" style="border-bottom:solid; border-width: 1px; width: 280px">
            <h4>
                <label style="width:200px">Kundenstatus: </label>
                <label style="color:greenyellow;">@((Model as Kunde).Status)</label>
            </h4>
        </div>
        <div class="form-group">
            <h4>
                <label style="width:200px">Artikel im Warenkorb: </label>
                <label style="color:greenyellow;">@ViewData["artikel"]</label>
            </h4>
        </div>
        <br />
        <div class="form-group">
            <input type="button" value="Artikel Suchen" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Artikelsuche", "BuchShop") + "'");" />
            <input type="button" value="Warenkorb bearbeiten" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Warenkorbansicht", "BuchShop") + "'");" />
        </div>
    }
    @if (Model is Mitarbeiter)
    {
        <div class="form-group">
            <h4>
                <label style="width:150px">Telefonnummer: </label>
                <label style="color:greenyellow;">@((Model as Mitarbeiter).Telefonnummer)</label>
            </h4>
        </div>
        <br />
        <div class="form-group">
            <input type="button" value="Kunde suchen" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Kundensuche", "BuchShop") + "'");" />
            <input type="button" value="Bestellstatistiken" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Bestellstatistik", "BuchShop") + "'");" />
        </div>
    }
    <div class="form-group">
        <input type="button" value="Logout" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Login", "BuchShop") + "'");" />
    </div>
</body>
</html>

