@model BuchShop.Geschaeftslogik.Domaenenobjekte.Warenkorb;

@{
    ViewData["Title"] = "Warenkorbansicht";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>/*
    $(document).ready(function () {
        $("#btnRabattcodeSpeichern").click(function () {

            
            var DTO = JSON.stringify(warenkorb);
            $.ajax(
                { 
                    type: "GET", //HTTP POST Method
                    url: "/BuchShop/RabattcodeSpeichern", // Controller/View
                    contentType: 'application/json; charset=utf-8',
                    data: DTO, //Reading text box values using Jquery
                    dataType: "json",
                    success: function (data) {
                        alert(data.msg);
                    },
                    error: function () {
                        alert("Ein Fehler ist aufgetreten")
                    }
                });
            
        });
    });*/
</script> 

<h2>@ViewData["Title"]</h2>
@{
    var warenkorb = (Warenkorb)ViewData["Warenkorb"];
    var nutzer = (Nutzer)ViewData["Nutzer"];
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h4>
            @nutzer.Name hat folgende Artikel in seinem Warenkorb:
        </h4>
    </div>
    @if (((ICollection<Artikel>)warenkorb.Artikel).Count != 0)
    {
        <div class="panel-body">
            <table id="assets-data-table"
                   class="table table-striped table-bordered"
                   style="width:100%">
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Typ</th>
                        <th>Preis in €</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var artikel in warenkorb.Artikel)
                    {
                        <tr style="cursor: pointer" onclick="location.href = '@(Url.Action("Artikeldetails", "BuchShop", new { artikelnummer = artikel.Artikelnummer }))'">
                            <td>@artikel.Titel</td>
                            <td>@artikel.Typ</td>
                            <td>@artikel.Preis</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <form asp-action="ArtikelInWarenkorb" method="get">
                <div class="form-group">
                    <label asp-for="Rabattcode" class="control-label">Rabattcode: </label>
                    <input asp-for="Rabattcode" class="form-control" id="RabCode" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Rabattcode Speichern" class="btn btn-default" />
                </div>
            </form>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:200px">Rabatt: </label>
                <label style="color:greenyellow;" id="RabWert">@ViewData["Rabatwert"] €</label>
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:200px">Versandkosten: </label>
                <label style="color:greenyellow;" id="RabWert">@ViewData["Versandkosten"] €</label>
            </h4>
        </div>
        <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
            <h4>
                <label style="width:200px">Gesamtpreis: </label>
                <label style="color:greenyellow;" id="RabWert">@ViewData["Preiswert"] €</label>
            </h4>
        </div>
        <form asp-action="Bestellen" method="get">
            <div class="form-group" style="border-bottom:solid; border-width: 2px; border-color:gray; width:280px">
                <div class="form-group">
                    <label class="control-label">Treuepunkte einlösen: </label>
                    <input class="form-control" name="treuepunkte"/>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Weitersuchen" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Artikelsuche", "BuchShop") + "'");" />
                <input type="submit" value="Bestellen" class="btn btn-default" />
            </div>
        </form>
    } else {
        <div>
            <label style="width:200px">Leerer Warenkorb </label>
        </div>

    }

</body>
</html>
