@{
    ViewData["Title"] = "Bestellstatistik";
}

<h2>@ViewData["Title"]</h2>
<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <div class="form-group lowerdivLineLong">
        <h4>
            <label class="labelWidth">Anzahl der Artikel im Logistiksystem: </label>
            <label class="labelColor">@ViewData["Artikelanzahl"]</label>
        </h4>
    </div>
    <div class="form-group lowerdivLineLong">
        <h4>
            <label class="labelWidth">Anzahl der Artikel im Logistiksystem: </label>
            <label class="labelColor">@ViewData["Bestellungsanzahl"]</label>
        </h4>
    </div>
    <div class="form-group lowerdivLineLong" >
        <h4>
            <label class="labelWidth">Durchschnittliche Anzahl Artikel pro Bestellung: </label>
            <label class="labelColor">@ViewData["ArtikelanzahlProBestellung"]</label>
        </h4>
    </div>
    <div class="form-group">
        <h4>
            <label class="labelWidth">Summe aller Mahnbeträge und Mahngebühren: </label>
            <label class="labelColor">@ViewData["GesamteMahngebuehren"] €</label>
        </h4>
    </div>
</body>
</html>
